
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/home/raj/.local/share/rofi/themes/rounded-red-dark.rasi"
configurattion {


}

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
